<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=127.0.0.1;Database=DB_Teaching;uid=sa;pwd=123456"/>
  </connectionStrings>

</configuration>
